body {
  font-family: 'nanumsquare';
  margin: 0px;
  background-color: silver;
}

.App {
  background-color: white;
}

.nav-bar {
  background-color: silver;
  width: 100%;
  display: flex;
  flex-direction: column;
  color: white;
  padding: 20px;
  padding-bottom: 15px;
  font-weight: 500;
  font-size: 20px;
}

.nav-head {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.category {
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.category:hover{
  color: black;
}

.search-button:hover {
  cursor: pointer;
}

li {
  list-style: none;
}

.pro_name:hover {
  text-decoration: underline;
  cursor: pointer;
}

.pro_image {
  margin: 20px;
  width: 300px;
  height: 300px;
  border: 1px solid black;
}

.pro_info {
  margin-left: 10px;
  margin-bottom: 10px;
  margin-top: 0px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  
  font-weight: 300;
  font-size: 15px;

  cursor: pointer;
}

.listName{
  margin-left: 50px;
  padding: 10px;
}

.productList{
  display: flex;
  flex-direction: row;
  justify-content: left;
  padding-left: 150px;
  padding-right: 150px;
}

.item{
  margin: 5px;

  display: flex;
  flex-direction: column;
}
.item:hover {
  text-decoration: underline;
  background-color: silver;
}
