.form-signin{
    width: 300px;
    border-radius: 5px;
    background-color: white;

    padding: 20px;
    margin: 0 auto;
    margin-top: 40px;
}

.form-signup{
    width: 500px;
    border-radius: 5px;
    background-color: white;

    padding: 20px;
    margin: 0 auto;
    margin-top: 40px;
}

.text_field{
    font-size: 14px;
    margin-bottom: 10px;
    padding: 10px;

    border: none;
    border-radius: 5px;

    width: 95%;
}

.submit_btn{
    color: white;
    font-size: 14px;
    background-color: silver;

    padding: 10px;
    margin-bottom: 30px;

    border: 1px solid silver;
    border-radius: 5px;

    width: 100%;
}

.submit_btn:hover{
    cursor: pointer;
    border: 1px solid black;

    color: black
}

.signUpButtonValid{
    color: white;
    font-size: 14px;
    background-color: black;

    padding: 10px;
    margin-bottom: 30px;

    border: 1px solid silver;
    border-radius: 5px;

    width: 100%;
}
.signUpButtonInValid{
    color: white;
    font-size: 14px;
    background-color: silver;

    padding: 10px;
    margin-bottom: 30px;

    border: 1px solid silver;
    border-radius: 5px;

    width: 100%;
}

.link{
    text-align: center;
}

.link a{
    font-size: 12px;
    color: silver;
}